@reference "./Theme.css";

@layer base {
   body {
        @apply overflow-y-auto;
    }

    #root {
        @apply size-full flex flex-col;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
        -webkit-appearance: textfield; /* Safari 和 Chrome */
        appearance: textfield; /* 应用于所有现代浏览器 */
    }

    /* 移除箭头（主要是针对Chrome和Safari） */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /*  ul {
       @apply list-none;
    }

    a {
        @apply no-underline;
    } */

}

@layer components {

    /* .app-base {
        font-family: var(--font-sans);
        
        @apply bg-background text-foreground;
    }

    .app-sidebar {
        @apply bg-sidebar text-sidebar-foreground border-sidebar-border;
    } */
}
